@page
@using FinalProject.UI.Pages.Account
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<div class="alert alert-danger" role="alert">
    Your access is denied. Please contact the administrator.
</div>
